
.texto {
    padding: 20px 20px  20px  10px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #030200;}


.ciudades {font-family:'Train One', cursive ;
          font-size: 2rem ;
          margin-top: 50px;
          margin-bottom: 50px}

video{
 margin-top: 50px;
 margin-bottom: 50px; 
 text-align: center;
 width:600px;
    
}

.fotonyc{
     margin-top: 30px;
     margin-bottom: 50px; 
 
}

.textoNegro {
         color:#0f0f0f; 
         font-size: 1.8rem; 
         margin-bottom:  -20px;
         padding-bottom: 100px; 
        }


.textoCiudades{text-align: left;
           font-size: 1.2rem; 
           list-style: none; 
           font-family: 'Balsamiq Sans', cursive;
           margin-left: 30px;}


.listaInterlineado {margin-top: 25px;
    li { margin-bottom: 15px; }

}


   
#lineaPunteada{ padding: 40px 50px;
             border: PowderBlue 5px dashed;
             border-top-left-radius: 20px;
             border-bottom-right-radius: 20px;
             margin-bottom: 70px; 
             margin-top: 30px; } 

.saludo {
    color: rgb(49, 153, 67);
   font-size: 1.2rem;
}

.btnProfesores {
    text-align:center;
padding-top: 20px;

}

#borderPedido { 
   
    margin-bottom: 40px;
    margin-top: 35px;
    background-color: #a3ecdd; 
    text-align: start;
    padding: 50px ; 
    border: rgb(86, 96, 184) 8px solid;
    border-radius: 40px;
    list-style-type: none;
    font-size: 1.3rem;
}

#entrega{ 
    margin-top: 60px;
}
#suerte { text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}